@charset "utf-8";

:root {
	--kemosite-typography-margin: 3ex;
	--kemosite-typography-column-margin: 3ex auto;
	--kemosite-typography-column-gap: 3ch;
	--kemosite-typography-widows-orphans: 2;
	--kemosite-typography-line-height: 3ex;
}

body.activate_kemosite_typography h1,
body.activate_kemosite_typography h2,
body.activate_kemosite_typography h3,
body.activate_kemosite_typography h4,
body.activate_kemosite_typography h5,
body.activate_kemosite_typography h6 {
	column-span: all;
	margin-top: 1ex;
	margin-bottom: 1ex;
	widows: var(--kemosite-typography-widows-orphans);
	orphans: var(--kemosite-typography-widows-orphans);
}

body.activate_kemosite_typography button,
body.activate_kemosite_typography .button,
body.activate_kemosite_typography .wp-block-button,
body.activate_kemosite_typography nav {
	column-span: all;
	margin-top: 1ex;
	margin-bottom: 1ex;
	widows: var(--kemosite-typography-widows-orphans);
	orphans: var(--kemosite-typography-widows-orphans);
	line-height: 1;
}

body.activate_kemosite_typography #wpadminbar select,
body.activate_kemosite_typography #wpadminbar textarea,
body.activate_kemosite_typography #wpadminbar img, 
body.activate_kemosite_typography #wpadminbar table,
body.activate_kemosite_typography #wpadminbar td,
body.activate_kemosite_typography #wpadminbar hr,
body.activate_kemosite_typography #wpadminbar li,
body.activate_kemosite_typography #wpadminbar p {
	margin: 0 !important;
}

body.activate_kemosite_typography :not(#wpadminbar) select,
body.activate_kemosite_typography :not(#wpadminbar) textarea,
body.activate_kemosite_typography :not(#wpadminbar) img, 
body.activate_kemosite_typography :not(#wpadminbar) table,
body.activate_kemosite_typography :not(#wpadminbar) td,
body.activate_kemosite_typography :not(#wpadminbar) hr,
body.activate_kemosite_typography :not(#wpadminbar) li,
body.activate_kemosite_typography :not(#wpadminbar) p {
	margin-top: var(--kemosite-typography-margin);
	margin-bottom: var(--kemosite-typography-margin);
	orphans: var(--kemosite-typography-widows-orphans);
	widows: var(--kemosite-typography-widows-orphans);
	line-height: var(--kemosite-typography-line-height);
}

body.activate_kemosite_typography :not(#wpadminbar) select:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) textarea:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) img:nth-child(1), 
body.activate_kemosite_typography :not(#wpadminbar) table:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) td:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) hr:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) li:nth-child(1),
body.activate_kemosite_typography :not(#wpadminbar) p:nth-child(1) {
	margin-top: 0;
}

@media screen and (max-width: 38ch) {

	body.activate_kemosite_typography .post,
	body.activate_kemosite_typography .page,
	body.activate_kemosite_typography .single {
		columns: auto 1;
		margin: var(--kemosite-typography-column-margin);
		column-gap: var(--kemosite-typography-column-gap);
	}

	body.activate_kemosite_typography :not(#wpadminbar) select,
	body.activate_kemosite_typography :not(#wpadminbar) textarea,
	body.activate_kemosite_typography :not(#wpadminbar) img, 
	body.activate_kemosite_typography :not(#wpadminbar) table,
	body.activate_kemosite_typography :not(#wpadminbar) td,
	body.activate_kemosite_typography :not(#wpadminbar) hr,
	body.activate_kemosite_typography :not(#wpadminbar) li,
	body.activate_kemosite_typography :not(#wpadminbar) p {
		max-width: 100%;
	}

}

@media screen and (min-width: 39ch) {

	body.activate_kemosite_typography h1,
	body.activate_kemosite_typography h2,
	body.activate_kemosite_typography h3,
	body.activate_kemosite_typography h4,
	body.activate_kemosite_typography h5,
	body.activate_kemosite_typography h6,
	body.activate_kemosite_typography button,
	body.activate_kemosite_typography .button,
	body.activate_kemosite_typography .wp-block-button,
	body.activate_kemosite_typography :not(#wpadminbar) select,
	body.activate_kemosite_typography :not(#wpadminbar) textarea,
	body.activate_kemosite_typography :not(#wpadminbar) img, 
	body.activate_kemosite_typography :not(#wpadminbar) table,
	body.activate_kemosite_typography :not(#wpadminbar) td,
	body.activate_kemosite_typography :not(#wpadminbar) hr,
	body.activate_kemosite_typography :not(#wpadminbar) li,
	body.activate_kemosite_typography :not(#wpadminbar) p {
		max-width: 59ch;
		margin-left: auto;
		margin-right: auto;
	}

}

@media screen and (min-width: calc(39ch + 3ch + 39ch + 3ch + 39ch + 3ch + 39ch)) and (min-height: 39ch) {

	body.activate_kemosite_typography .post,
	body.activate_kemosite_typography .page,
	body.activate_kemosite_typography .single {
		columns: 39ch auto;
		column-gap: var(--kemosite-typography-column-gap);
		text-align: justify;
		hyphens: auto;
	}

}

/* [STYLES TO REMOVE COLUMNS] */
body.kemosite_typography_remove_columns .post,
body.kemosite_typography_remove_columns .page,
body.kemosite_typography_remove_columns .single {
	columns: auto 1;
	text-align: left;
	hyphens: none;
}
